.player-inventory {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.inventory-buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-list-base {
  padding-top: 0;
}

.inventory-items {
  overflow-y: auto;
}

.inventory-item {
  display: flex;
  flex-direction: row;
  width: 100%;

  > span {
    width: 50%;
    word-break: break-all;
  }

  > mat-form-field {
    width: 45%;
  }

  > * {
    margin-left: 10px;

    .mat-icon {
      vertical-align: bottom;
    }
  }
}
