<ng-container *ngIf="readonly">
  <mat-list>
    <mat-list-item *ngFor="let item of inventory.items">
        <div class="inventory-item">
            <span>{{item.name}}</span>
            <span>{{item.description}}</span>
        </div>
    </mat-list-item>
  </mat-list>
</ng-container>

<form *ngIf="!readonly" class="player-inventory" [formGroup]="form">
    <div class="inventory-buttons">
        <button mat-icon-button (click)="addItem()" color="primary">
            <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-icon-button [disabled]="isDisabled()" color="primary" (click)="onSave()">
            <mat-icon>save</mat-icon>
        </button>
    </div>
    <div class="inventory-items full-size">
        <mat-list class="full-size">
            <mat-list-item formArrayName="items" *ngFor="let item of getItems().controls; index as i">
                <div class="inventory-item" [formGroupName]="i">
                    <mat-form-field>
                        <input matInput autocomplete="off" formControlName="name" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput autocomplete="off" formControlName="description" required>
                    </mat-form-field>
                    <button mat-icon-button (click)="removeItem(i)" color="warn">
                        <mat-icon>remove_circle</mat-icon>
                    </button>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</form>
