<ng-container *ngIf="readonly">
  <mat-list>
    <mat-list-item *ngFor="let item of inventory.items">
        <div class="inventory-item">
            <span>{{item.name}}</span>
            <span>{{item.description}}</span>
        </div>
    </mat-list-item>
  </mat-list>
</ng-container>

<form *ngIf="!readonly" #inventoryForm="ngForm">
  <mat-list>
    <mat-list-item *ngFor="let item of inventory.items; let idx = index">
      <div class="inventory-item">
        <mat-form-field>
          <input matInput autocomplete="off" [(ngModel)]="item.name" name="name{{idx}}" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput autocomplete="off" [(ngModel)]="item.description" name="desc{{idx}}" required>
        </mat-form-field>
        <button mat-icon-button (click)="removeItem(idx)" color="warn">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
  <button mat-icon-button (click)="addItem(); inventoryForm.form.markAsDirty()" color="accent">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button mat-button *ngIf="inventoryForm.dirty"
          [disabled]="!inventoryForm.valid"
          (click)="onSave(); inventoryForm.form.markAsPristine()">
      Save Changes
  </button>
</form>
