<form [formGroup]="roomForm">
  <mat-form-field class="full-width">
    <input matInput placeholder="Room name" autocomplete="off" formControlName="name" required autofocus>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput placeholder="Room description" formControlName="description"></textarea>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onAccept()" [disabled]="!roomForm.valid">Create Room</button>
  </div>
</form>
