<div class="dashboard full-size">
    <div class="dashboard-buttons">
        <button mat-fab (click)="addRoom()" color="accent">
            <mat-icon aria-label="Add room">add</mat-icon>
        </button>
        <span>
            <button mat-fab (click)="login()" color="accent">
                <mat-icon aria-label="Login">exit_to_app</mat-icon>
            </button>
            <button mat-fab (click)="signUp()" color="accent">
                <mat-icon aria-label="Login">person_add</mat-icon>
            </button>
        </span>
    </div>
    <mat-list>
        <mat-list-item *ngFor="let room of rooms">
            <div class="dashboard-room full-size">
                <div class="dashboard-room-name">{{room.name}}</div>
                <button mat-icon-button (click)="openRoom(room.id)" color="accent">
                    <mat-icon>forward</mat-icon>
                </button>
                <button mat-icon-button (click)="removeRoom(room.id)" color="warn">
                    <mat-icon>remove_circle</mat-icon>
                </button>
            </div>
        </mat-list-item>
    </mat-list>
</div>
