<div class="dashboard full-size">
    <div class="dashboard-buttons">
        <button mat-icon-button (click)="addRoom()" color="accent">
            <mat-icon>add_circle</mat-icon>
        </button>
    </div>
    <mat-list>
        <mat-list-item *ngFor="let room of roomsObs | async">
            <div class="dashboard-room full-size">
                <div class="dashboard-room-name">Room {{room.id}}</div>
                <button mat-icon-button (click)="openRoom(room.id)" color="accent">
                    <mat-icon>forward</mat-icon>
                </button>
                <button mat-icon-button (click)="removeRoom(room.id)" color="warn">
                    <mat-icon>remove_circle</mat-icon>
                </button>
            </div>
        </mat-list-item>
    </mat-list>
</div>
