<div class="dashboard full-size">
    <div class="dashboard-buttons">
        <button mat-fab color="primary" (click)="addRoom()">
            <mat-icon aria-label="Add room">add</mat-icon>
        </button>
        <span>
            <button *ngIf="userService.authenticated; else unauthorized" mat-fab color="primary" (click)="logout()" title="Exit">Exit</button>
            <ng-template #unauthorized>
                <button mat-fab color="primary" (click)="login()" title="Login">
                    <mat-icon aria-label="Login">exit_to_app</mat-icon>
                </button>
                <button mat-fab color="primary" (click)="signUp()" title="Sign Up">
                    <mat-icon aria-label="Login">person_add</mat-icon>
                </button>
            </ng-template>
        </span>
    </div>
    <mat-list>
        <mat-list-item *ngFor="let room of rooms">
            <div class="dashboard-room full-size">
                <div class="dashboard-room-name">{{room.name}}</div>
                <button mat-icon-button color="primary" (click)="openRoom(room.id)">
                    <mat-icon>forward</mat-icon>
                </button>
                <button mat-icon-button (click)="removeRoom(room.id)" color="warn">
                    <mat-icon>remove_circle</mat-icon>
                </button>
            </div>
        </mat-list-item>
    </mat-list>
</div>
