@import "../../../../constants";

.room-message {
  display: flex;

  > div {
    color: black;
    margin-right: 10px;
  }

  &-author::after {
    content: ':';
  }

  .message {
    word-break: break-all;
  }

  .system {
    color: $warn;
  }

  .red { color: $red }
  .pink { color: $pink }
  .purple { color: $purple }
  .deep-purple { color: $deep-purple }
  .indigo { color: $indigo }
  .blue { color: $blue }
  .light-blue { color: $light-blue }
  .cyan { color: $cyan }
  .teal { color: $teal }
  .green { color: $green }
  .light-green { color: $light-green }
  .lime { color: $lime }
  .yellow { color: $yellow }
  .amber { color: $amber }
  .orange { color: $orange }
  .deep-orange { color: $deep-orange }
  .brown { color: $brown }
  .grey { color: $grey }
  .blue-grey { color: $blue-grey }
}
