<div class="play-area top">
    <div class="chatbox" #chatbox [scrollTop]="chatbox.scrollHeight">
        <mat-list>
            <mat-list-item *ngFor="let msg of room.messages.asArray()">
                <room-message [message]="msg"></room-message>
            </mat-list-item>
        </mat-list>
    </div>

    <mat-form-field class="message-input">
        <label>
            <input matInput autocomplete="off" [(ngModel)]="message" (keyup.enter)="onSendMessage()" autofocus>
        </label>
    </mat-form-field>
</div>

<div class="play-area bottom">
  <mat-tab-group dynamicHeight color="accent">
    <mat-tab *ngFor="let player of room.players | keyvalue" [label]="player.value.name">
        <ng-template mat-tab-label>
            <mat-icon *ngIf="player.value.connected" class="connected mat-accent">done</mat-icon>
            <span class="tab-header-text">{{ player.value.name }}</span>
        </ng-template>
        <div class="tab-body">
            <player-seat [player]="player.value"></player-seat>
        </div>
    </mat-tab>
  </mat-tab-group>
</div>
