<div class="play-area top">
    <div class="full-width">
        <button class="close-btn" mat-icon-button (click)="leaveRoom()" color="warn">
            <mat-icon>cancel</mat-icon>
        </button>
    </div>

    <div class="chatbox" #chatbox>
        <mat-list class="full-size">
            <mat-list-item *ngFor="let msg of chatMessages.asArray()">
                <room-message class="full-width" [message]="msg"></room-message>
            </mat-list-item>
        </mat-list>
    </div>

    <mat-form-field class="message-input" color="accent">
        <input matInput autocomplete="off" [(ngModel)]="chatMessage" (keyup.enter)="onSendMessage()" autofocus>
    </mat-form-field>
</div>

<div class="play-area bottom">
  <mat-tab-group>
    <mat-tab *ngFor="let player of room?.players" [label]="player.name">
        <ng-template mat-tab-label>
            <mat-icon color="primary">done</mat-icon>
            <span class="tab-header-text">{{ player.name }}</span>
        </ng-template>
        <div class="tab-body">
            <player-seat [player]="player" [readonly]="player.id !== currentPlayer?.id" (inventorySave)="onInventorySave($event)"></player-seat>
        </div>
    </mat-tab>
  </mat-tab-group>
</div>
