:host {
  min-height: 100%;
}

.play-area {
  box-sizing: border-box;
  height: 50%;
  padding: 20px;

  &.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &.bottom {
    background-color: #393939;
    color: #fff;
  }

  .tab-header-text {
    color: #fff
  }

  .tab-body {
    form * {
      margin: 5px;
    }
  }
}

.chatbox {
  height: 100%;
  resize: none;
}

.message-input {
  width: 100%;
}
