<div class="play-area top">
  <span *ngIf="rollResult">{{ rollResult }}</span>
</div>

<div class="play-area bottom">
  <mat-tab-group dynamicHeight [color]="'accent'">
    <mat-tab *ngFor="let player of this.room.players" [label]="player.name">
        <ng-template mat-tab-label>
            <span class="tab-header-text">{{ player.name }}</span>
        </ng-template>
        <div class="tab-body">
            <app-player-seat [player]="player" (roll)="rollD6()"></app-player-seat>
        </div>
    </mat-tab>
  </mat-tab-group>
</div>
