:host {
  min-height: 100%;
}

.close-btn {
  float: right;
}

.play-area {
  box-sizing: border-box;
  height: 50%;
  padding: 20px;

  &.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &.bottom {
    background-color: #393939;
    color: #fff;
  }

  .chatbox {
    height: 100%;
    width: 100%;
    overflow-y: auto;

    .mat-list-item {
      height: auto;
      margin-bottom: 5px;
    }
  }

  .message-input {
    width: 100%;
  }

  .tab-header-text {
    color: #fff
  }

  mat-icon {
    margin-right: 10px;
  }

  .tab-body {
    form * {
      margin: 5px;
    }
  }
}
