<form [formGroup]="loginForm" (keydown.enter)="$event.preventDefault()">
    <mat-form-field class="full-width">
        <input matInput placeholder="username" autocomplete="off" formControlName="username" [errorStateMatcher]="matcher" required autofocus (keydown)="onKeyDown()">
        <mat-error *ngIf="loginForm.get('username').hasError('invalid')">
            Invalid username or password
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Password" autocomplete="off" formControlName="password" required>
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-button (click)="onCancel()" >Cancel</button>
        <button mat-button (click)="onAccept()" [disabled]="!loginForm.valid">Login</button>
    </div>
</form>
