<form [formGroup]="signUpForm">
  <mat-form-field color="accent" class="full-width">
    <input matInput placeholder="Username" autocomplete="off" formControlName="username" required autofocus>
  </mat-form-field>

  <mat-form-field color="accent" class="full-width">
    <input matInput placeholder="Email" formControlName="email" autocomplete="off" [errorStateMatcher]="matcher">
    <mat-error *ngIf="signUpForm.get('email').hasError('email') && !signUpForm.get('email').hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="signUpForm.get('email').hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field color="accent" class="full-width">
    <input matInput type="password" placeholder="Password" autocomplete="off" formControlName="password" required>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onAccept()" [disabled]="!signUpForm.valid">Login</button>
  </div>
</form>
