<div class="play-area top">
  <span *ngIf="num">{{ num }}</span>
</div>

<div class="play-area">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Player One">
      <div class="tab-body">
        <form [formGroup]="diceFormGroup">
          <button mat-flat-button color="accent" (click)="addDie()">Add d6</button>
          <button mat-flat-button color="accent" (click)="roll()">Roll</button>
          <mat-checkbox *ngFor="let die of dice.controls" [formControl]="die">d6</mat-checkbox>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Player Two">
      <div class="tab-body">
        Content 2
      </div>
    </mat-tab>
    <mat-tab label="Player Three">
      <div class="tab-body">
        Content 3
      </div>
    </mat-tab>
  </mat-tab-group>
</div>