@import '~@angular/material/prebuilt-themes/purple-green.css';

@mixin height() {
  height: 100%;
  min-height: 100%;
}

html {
  @include height()
}

body {
  @include height();

  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACZJREFUeNpi/PTpEwMY8PLyMsFZnz9/ZoKzgAzG////Q1hAABBgAFeiDto+NxIZAAAAAElFTkSuQmCC");
  background-repeat: repeat;

  .tab-body,
  .mat-tab-group,
  .mat-tab-body-wrapper {
    height: 100%;
  }
}
