<mat-form-field class="full-width">
  <input matInput
         placeholder="Room name"
         autocomplete="off"
         [(ngModel)]="name"
         (keyup.enter)="onAccept()"
         autofocus>
</mat-form-field>

<mat-form-field class="full-width">
  <textarea matInput
            placeholder="Room description"
            [(ngModel)]="description"
  ></textarea>
</mat-form-field>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onAccept()" [disabled]="!name">Create Room</button>
</div>
