.player-seat {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-x: hidden;
}

.avatar {
  height: 100%;
  width: 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

.inventory {
  width: 75%
}
